@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-arimo: "Arimo", sans-serif;

  /* Brand Colors */
  --color-primary-bg: #fffef9;
  --color-primary-yellow: #f8c80f;
  --color-primary-yellow-hover: #eab308;

  --color-text: #1f2937;
  --color-text-light: #121211;

  --shadow-dropdown: 0 20px 50px rgba(0, 0, 0, 0.08);
}

html,
body {
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
